
/* Your CSS Code here. */
.moviePic{
	height:100%;
	width:10px;
	opacity:10px
}
.movieDetail{
	position:center;
	top:100pix
	width:100;
	text-:align:left;
	font-size: normal;
}
.movieDetail{
	position:center;
	top:10px;
	width:100%;
	text-align:left;
	font-size:15px;
}